<?xml version="1.0"?>
<!--
 Copyright 2016 Katja Fiedler, Claudia Buhl, Marvin Ferber, Marc Donner

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
--> 

<launch>
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_test" >
        <remap from="/turtle1/cmd_vel" to="/cmd_vel_mux/input/teleop"/>
    </node>
    <node pkg="turtlebot_easyprog" type="turtlesim_odom.py" name="turtlesim_odom" >
        
    </node>
</launch>
